<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

        <p><%= post.id %></p>
        <p><%= post.username %></p>
        <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
            <textarea name="content" id="content" cols="30" rows="10" placeholder="write your post"><%= post.content %></textarea>

<button>submit</button>

    </form>
    
</body>
</html>